body {
	background-color: white;
	font-family: helvetica; 
}

.page-header {
	background: url(headerimage.jpg);
}

.page-header h1 {
	font-weight: lighter;
}

img {
	border-radius: 20px;
}

.Topshop img {
	width: 160px;
}

.Topshop {
	background-color: #f9e6ff;
}

.Topshop h2 {
	text-align: center
}

.NewLook img {
	width: 160px;
}

.NewLook {
	background-color: #e6faff;
}

.NewLook h2 {
	text-align: center
}

.HandM img {
	width: 160px;
}

.HandM {
	background-color: #ffffcc;
}

.HandM h2 {
	text-align: center
}


.col-md-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.col-md-2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.col-md-2 li a:hover {
    background-color: #555;
    color: white;
}

th, td {
	padding: 100px
	text: center;
	text-align: center;
}

th {
	width: 33%
	;
}

.col-md-2 img {

	width: 40px;
	height: auto;
}

.btn btn-primary btn-lg {
	background-color: black;
}










